/**
    * @author _ Pathum_Kaleesha
    * @created - 2022-02-19 - 19.39
    * @since - v0.1.0 - CSS
**/
body>nav>ul:nth-child(1)>li:nth-child(1)>h3:nth-child(1){
    position: absolute;

    left: 0;
}
body>div:nth-child(2)>div:nth-child(2)>input{
    border-color: lightskyblue;
}
body>div:nth-child(2)>h3:nth-child(1){
    position: absolute;
    top: 10%;
}
body>div:nth-child(2)>div:nth-child(2){
    position: absolute;
    top: 18%;

}
body>div:nth-child(3){
    position: absolute;
    right: 0;
    top: 65%;
}  body>div:nth-child(4){
       position: absolute;
       right: 2%;
       top: 10%;
   }